body {
    /*  */
}
/* hover nav */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-submenu>.dropdown-toggle:active {
    pointer-events: none;
}
.navbar-nav .nav-link{
    display:inline-block;
}
/* nav styling */
.nav-bb {
    border-bottom: 10px solid #FFD447;

}
/* blog styling */
.fo-sans-1{
    font-family: 'Lato', sans-serif;
}

#post {
    font-family: 'Libre Baskerville', serif;
    word-break: break-word;
    font-size: 18px;
}

#post-title {
    font-size: 40px;
}

.ca {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

#post-content {
    margin-top: 2em;
    line-height: 1.58;
}
/* comment styling */
.white-space-pre {
    white-space: pre-wrap;
}

.comment {
    margin-bottom: 35px;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comment-title {
    margin-bottom: 45px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-meta {
    float: left;
    margin-left: 15px;
}

.author-meta>h4 {
    margin: 5px 0px;
    
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}
